body, td, th,.ui-widget,.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 10px !important;
}

.header-menu{
    float: left !important;
    width: 60%;
    left: 350px;
    top: 45px;
    position: fixed;
    direction:ltr;

}
.header-logo{
    float:left !important;	
    margin: 15px;
    left:0;
    position:fixed;
    direction:ltr;
}

.header-info{
    float:right !important;	
    padding:5px;
    width:25%;
    right:0;
    position:fixed;
    direction:ltr;
}
.header-title{
    float:right !important;	
}
.header-image{
    float:left !important;		
}