/*@charset "utf-8";*/
.googlemap {
    /*height:100%;*/
    width:100%;
    padding:0 0 0 0 !important;
    margin:0 0 0 0;
    z-index:0 !important;
    position:absolute;
    bottom: 0px;
    top: 30px;
}

.osmmap {
    /*height:100%;*/
    width:100%;
    padding:0 0 0 0 !important;
    margin:0 0 0 0;
    z-index:0 !important;
    position:absolute;
    bottom: 0px;
    top: 30px;
}

.googlemap_unselect {
    display:none;
}
.bingmap {

    /*top: 0px;*/
    left: 0px;
    width: 100%;
    /*height: 100%;*/
    margin: 0px 0px 0px 0px;
    padding:0 0 0 0 !important;

    display:block;
    visibility:visible;

    bottom: 0px;
    top: 30px;
    z-index:0 !important;
    position:absolute;
}


.ovimap {
    /*top: 0px;*/
    left: 0px;
    width: 100%;
    /*height: 100%;*/
    margin: 0px 0px 0px 0px;
    padding:0 0 0 0 !important;
    z-index:0 !important;
    display:block;
    visibility:visible;
    position:absolute;
    bottom: 0px;
    top: 30px;
}

.nokiamap {
    /*top: 0px;*/
    left: 0px;
    width: 100%;
    /*height: 100%;*/
    margin: 0px 0px 0px 0px;
    padding:0 0 0 0 !important;
    z-index:0 !important;
    display:block;
    visibility:visible;
    position:absolute;
    bottom: 0px;
    top: 30px;
}

.arcgismap {
    left: 0px;
    width: 100%;
    /*height: 100%;*/
    margin: 0px 0px 0px 0px;
    padding:0 0 0 0 !important;
    z-index:0 !important;
    display:block;
    visibility:visible;
    position:absolute;
    bottom: 0px;
    top: 30px;
}

.polygonlabel{
    white-space:nowrap; 
    border: 0px; 
    font-size:10px;
    font-family:arial; 
    font-weight:normal;
    color:#FFF;
    background-color:#999999;
    padding: 0px;
    left:0px;top:0px;
    position: absolute; 
    opacity: .75; 
    /*	filter: alpha(opacity=75); 
            -ms-filter: "alpha(opacity=75)"; 
            -khtml-opacity: .75; 
            -moz-opacity: .75;*/
}